<div class="container-fluid showcase" id="portfolio-div">
  <a href="{{prev}}" id={{prev}} class="portfolio-btn prev" title="Previous"><i class="fa fa-chevron-left"></i></a>

    <img id="portfolio-img" src="{{img.src}}" alt="{{img.alt}}">

  <a href="{{next}}" id={{next}} class="portfolio-btn next" title="Next"><i class="fa fa-chevron-right"></i></a>
</div>
