<div class="container-fluid showcase" id="portfolio-div">
  <a href="/portfolio/{{prev}}" class="ctrl chev portfolio-btn prev" title="Previous"><i class="fa fa-chevron-left"></i></a>

  <a href="/portfolio/{{next}}" class="ctrl next" title="Next"><img id="portfolio-img" src="{{img.src}}" alt="{{img.alt}}"></a>


  <a href="/portfolio/{{next}}" class="ctrl chev portfolio-btn next" title="Next"><i class="fa fa-chevron-right"></i></a>

</div>
